In [2]:
import pandas as pd
import numpy as np

directory = '/Users/Ronald van Hal/My Documents/Python Scripts/Machine Learning/titanic.csv'

data = pd.read_csv(directory)
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [14]:
data['Pclass']

0      3
1      1
2      3
3      1
4      3
5      3
6      1
7      3
8      3
9      2
10     3
11     1
12     3
13     3
14     3
15     2
16     3
17     2
18     3
19     3
20     2
21     2
22     3
23     1
24     3
25     3
26     3
27     1
28     3
29     3
      ..
861    2
862    1
863    3
864    2
865    2
866    2
867    1
868    3
869    3
870    3
871    1
872    1
873    3
874    2
875    3
876    3
877    3
878    3
879    1
880    2
881    3
882    3
883    2
884    3
885    3
886    2
887    1
888    3
889    1
890    3
Name: Pclass, Length: 891, dtype: int64

In [40]:
import csv

f = open('/Users/Ronald van Hal/My Documents/Python Scripts/Machine Learning/titanic.csv')

Survived = []
Pclass = []

for i in f:
    t = i.split(',')
    Survived.append(t[1])
    Pclass.append(t[2])

del Survived[0]
del Pclass[0]

for i in range(len(Survived)):
    Survived[i] = int(Survived[i])
    Pclass[i] = int(Pclass[i])

true_positive = 0
false_positive = 0
false_negative = 0
true_negative = 0

T = [0,0,0,0]


for i in range(len(Survived)):
    
    if Pclass[i] == 3:
        assumption = 0
    elif Pclass[i] == 2:
        assumption = 0
    elif Pclass[i] == 1:
        assumption = 0
    
    if assumption == 1 & assumption == Survived[i]:
        T[0] += 1
        true_positive += 1
    elif assumption == 1 & assumption != Survived[i]:
        T[1] += 1
        false_positive += 1
    elif assumption == 0 & assumption != Survived[i]:
        T[2] += 1
        false_negative += 1
    elif assumption == 0 & assumption == Survived[i]:
        T[3] += 1
        true_negative += 1

print(T)
print(false_negative)

[549, 342, 0, 0]
0

In [41]:
f = open('/Users/Ronald van Hal/My Documents/Python Scripts/Machine Learning/titanic.csv')

Survived = []
Pclass = []

for i in f:
    try:
        t = i.split(',')
        Survived.append(int(t[1]))
        Pclass.append(int(t[2]))
    except:
        ValueError


true_positive = 0
false_positive = 0
false_negative = 0
true_negative = 0

T = [0,0,0,0]

#for i in range(len(Survived)):
#    Survived[i] = int(Survived[i])
#    Pclass[i] = int(Pclass[i])


for i in range(len(Survived)):
    
    if Pclass[i] == 3:
        assumption = "Dead"
    elif Pclass[i] == 2:
        assumption = "Dead"
    elif Pclass[i] == 1:
        assumption = "Survived"
    
    if assumption == "Survived": 
        if Survived[i] == 1:
            T[0] += 1
            true_positive += 1
        elif Survived[i] == 0:
            T[1] += 1
            false_positive += 1
    elif assumption == "Dead":
        if Survived[i] == 1:
            T[2] += 1
            false_negative += 1
        if Survived[i] == 0:
            T[3] += 1
            true_negative += 1

Accuracy = (true_positive + true_negative) / sum(T)
print(T)
print(Accuracy)
#print(type(Survived[200]))

[136, 80, 206, 469]
0.6790123456790124

In [43]:
f = open('/Users/Ronald van Hal/My Documents/Python Scripts/Machine Learning/titanic.csv')

Survived = []
Pclass = []
Age = []

for i in f:
    try:
        t = i.split(',')
        if t[6] == '':
            continue
        else:
            Survived.append(int(t[1]))
            Pclass.append(int(t[2]))
            Age.append(float(t[6]))
    except:
        pass



true_positive = 0
false_positive = 0
false_negative = 0
true_negative = 0

T = [0,0,0,0]

#for i in range(len(Survived)):
#    Survived[i] = int(Survived[i])
#    Pclass[i] = int(Pclass[i])


for i in range(len(Survived)):
    
    if Age[i] <= 30.0:
        if Pclass[i] == 3:
            assumption = "Dead"
        elif Pclass[i] == 2:
            assumption = "Survived"
        elif Pclass[i] == 1:
            assumption = "Survived"
    elif Age[i] > 30.0:
        if Pclass[i] == 3:
            assumption = "Dead"
        elif Pclass[i] == 2:
            assumption = "Dead"
        elif Pclass[i] == 1:
            assumption = "Survived"

    if assumption == "Survived": 
        if Survived[i] == 1:
            T[0] += 1
            true_positive += 1
        elif Survived[i] == 0:
            T[1] += 1
            false_positive += 1
    elif assumption == "Dead":
        if Survived[i] == 1:
            T[2] += 1
            false_negative += 1
        if Survived[i] == 0:
            T[3] += 1
            true_negative += 1

Accuracy = (true_positive + true_negative) / sum(T)
print(T)
print(Accuracy)

[173, 109, 117, 315]
0.6834733893557423

In [44]:
import matplotlib.pyplot as plt
f = open('/Users/Ronald van Hal/My Documents/Python Scripts/Machine Learning/titanic.csv')
feature1 = []
survivedF = []
nsurvivedF = []
for i in f:
    try:
        t = i.split(',')

SyntaxError: unexpected EOF while parsing (<ipython-input-44-14a5860d286d>, line 8)